@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(https://lh3.googleusercontent.com/pw/AP1GczNgG6gM8fUf2s0wwAY6cJoTyxOF_Gl-WN6owIQ5BZpylO96HExb9awJdfclQOH5XLmDziUTuIT3dk9ben9wG0zqRiH92bGvbuJtpQGyrYaAyZmu7sLxX8vtfRHd5f4C-n5546gMm6MSeANitYchd3UCxw=w1006-h566-s-no-gm?authuser=0);
  background-color: #573014;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: auto;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 7vw;
  font-weight: 700;
  margin: 0;
  color: #e8c792;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icons--section {
  display: flex;
  padding: 0;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

a {
  font-size: 3vh;
  margin: 3vw;
  justify-content: space-evenly;
  color: #e8c792;
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.8rem;
  }
  a {
    font-size: 3vh;
  }
}
